{% extends "base.html" %}
{% block title %}编辑博客{% endblock %}
{% block head %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="/static/css/pure-min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="/static/js/weibo.js"></script> -->
{% endblock %}

{% block img %}/static/img/tm-blog-img.jpg{% endblock %}
{% block content %}
   <form class="" action={{url_for('.update')}} method="post">
     <input type="hidden" name="blog_id" value="{{ blog_id }}">
     <input type="text" name="title" placeholder="title">
     <textarea name="content" rows="8" cols="40" placeholder="内容"></textarea>
     <button type="submit" name="button">编辑完成</button>
   </form>
{% endblock %}
{% block right %}{% endblock %}
