{% extends "base.html" %}
{% block title %}登录与注册{% endblock %}
{% block head %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="/static/css/pure-min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="/static/js/weibo.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('#gua-login').on('click', function(){
        var alogin = $(this)
        var login = alogin.closest('.gua-right-content').find('.gua-have-form-login')
        var register = alogin.closest('.gua-right-content').find('.gua-have-form-register')
        var block = alogin.closest('.gua-right-content').find('.gua-block')
        login.removeClass('gua-hedden')
        register.addClass('gua-hedden')
        block.animate({"left": "92px"}, "fast")
        return false;
      })
    })

      $(document).ready(function(){
        $('#gua-register').on('click', function(){
          var aregister = $(this)
          var register = aregister.closest('.gua-right-content').find('.gua-have-form-register')
          var login = aregister.closest('.gua-right-content').find('.gua-have-form-login')
          var block = aregister.closest('.gua-right-content').find('.gua-block')
          register.removeClass('gua-hedden')
          login.addClass('gua-hedden')
          block.animate({"left": "168px"}, "fast")
          return false;

        })
      })
  </script>

  <style media="screen">
    .gua-right-content {
      width: 300px;
      margin: 0 auto;
    }

    .gua-form-login {

      margin: 0 auto;
      border: solid;
      border-width: 1px;
      border-color: #ded9d9;
      border-radius: 3px;
    }

    .gua-form-register {

      margin: 0 auto;
      border: solid;
      border-width: 1px;
      border-color: #ded9d9;
      border-radius: 3px;

    }
    .gua-input {
      width: 90%;
      height: 30px;
      padding: 5px;
      border: none;
      outline: none;

    }
    .gua-button {
      width: 92%;
      margin: 20px 0;
      background-color: #cc9900;
      color: white;
      border-radius: 3px;
    }

    .gua-have-input {
      text-align: center;

    }
    .gua-have-input + .gua-have-input {
      border-style: solid;
      border-color: #ded9d9;
      border-width: 0px;
      border-top-width: 1px;
    }

    .gua-have-h1 {
    text-align: center;
    margin-bottom: 20px;
    }
    .gua-a {
    margin: 15px;
    text-decoration: none;
    color: black;
    }

    .gua-block {
    height: 3px;
    width: 40px;
    background-color: #cc9900;
    position: relative;
    left: 92px;
  }
  .gua-message {
    color: red;
    font-size: 10px;
    text-align: center;

  }
  .gua-hedden {
    display: none;
  }
  </style>

{% endblock %}
{% block a %}
  <a class="base-span-head" href="{{url_for('user.index')}}">Debug欢乐园</a>
  <a class="base-a-head base-a-head-fontcolor"href="{{url_for('user.home')}}">Home</a>
  <a class="base-a-head base-a-head-fontcolor gua-active"href="{{url_for('user.user_login')}}">Login</a>
  <a class="base-a-head base-a-head-fontcolor"href="/todo">Todo</a>
  <a class="base-a-head base-a-head-fontcolor"href="/weibo">Weibo</a>
  <a class="base-a-head base-a-head-fontcolor"href="/blog">Blog</a>
{% endblock %}
{% block img %}/static/img/tm-user2-img.jpg{% endblock %}
{% block content %}
  <div class="gua-right-content">
    <div class="gua-have-h1">
      <div class="gua-h1">
          <h2>Debug欢乐园</h2>
      </div>
      <div class="gua-h6">
          <h6>网站评论需要登录</h6>
      </div>
      <div>
        <a id="gua-login"class="gua-a"href="{{url_for('user.login')}}">登录</a>
        <a id="gua-register"class="gua-a"href="{{url_for('user.register')}}">注册</a>
        <div class="gua-block"></div>
      </div>
    </div>

    <div class="gua-have-form-login">


      <form class="" action="{{url_for('user.login')}}" method="post">
        <div class="gua-form-login">
          <div class="gua-have-input">
            <input class="gua-input"type="text" name="username" value="" placeholder="用户名"><br>
          </div>
          <div class="gua-have-input">
            <input class="gua-input"type="password" name="password" value="" placeholder="密码"><br>
          </div>
        </div>
        <div class="gua-have-input">
          <button class="gua-button gua-input"type="submit" name="button">登录</button>
        </div>
      </form>

    </div>

    <div class="gua-have-form-register gua-hedden">
      <form class="" action="{{url_for('user.register')}}" method="post">
        <div class="gua-form-register">
          <div class="gua-have-input">
            <input class="gua-input"type="text" name="username" value="" placeholder="用户名必须大于等于6位"><br>
          </div>
          <div class="gua-have-input">
            <input class="gua-input"type="text" name="password" value="" placeholder="密码必须大于等于6位"><br>
          </div>
          <div class="gua-have-input">
            <input class="gua-input"type="text" name="captcha" value="" placeholder="请输入验证码 '吃瓜群众' "><br>
          </div>
        </div>
        <div class="gua-have-input">
          <button class="gua-button gua-input"type="submit" name="button">注册</button>
        </div>
      </form>

    </div>

    <div class="gua-message">
      {{message}}
    </div>

  </div>
{% endblock %}
{% block right %}{% endblock %}
